<li>
  <strong><span class="author"><%= comment_author(comment.user_id) %>:</span></strong>
  <span class="content"><%= comment.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(comment.created_at) %> ago.
  </span>
</li>