<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p><%= link_to "Invite friends", new_user_invitation_path  %> (<%= @user.invitation_limit %> invites left) </p>