<% if current_user.fan_profile_created?%>
<li>
  <%= link_to t('edit_fan_profile'), edit_user_fan_profile_path(current_user) %>
</li>
<% else %>
<li>
  <%= link_to t('create_fan_profile'), new_user_fan_profile_path(current_user) %>
</li>
<% end %>