<li>
	<%= link_to 'Logout', destroy_user_session_path, :method=>'delete', :class => "loginButton small button" %>        
</li>
<li>
	<%= link_to 'Edit account', edit_user_registration_path, :class => "loginButton small button" %>
</li>
<li>
  <%= link_to 'View bands', bands_path, :class => "loginButton small button" %>
</li>