<h1><%= t 'about' %></h1>
<p>Crowdfunding for concerts

What is GigBag?

GigBag is a platfrom for group funding of concerts.
It enables you and people in your area to pre-fund a gig by an artist you all like and find a person who will organize it.

GigBag suggests which artists are the most popular among users in your area.
If you discover some new band you thought nobody has heard of has many fans in your area you
can create a GigBag event and start a campaign to bring them to a local venue.
You can promote this concert idea among users and your friends.
If someone finds your idea feasable, they can then take over the event ownership as a promoter.
A promoter makes an assessment of the ticket price and sets the time of the event.
After that the fundraising can start.

Now is the time to put the money where your mouth is and back the event by buying a pledge-ticket.
When enough tickets have been bought event is confirmed and tickets are sent to all the backers.

If not enough funds have been raised in expected time money is returned to all the backers</p>
