<h2>
  <%= @band.name %> 
</h2>
<%= image_tag @band.image%>
<br />
<br />
<em><%= t 'fans' %></em>
<br />
<br />
<ul>
  <% @band.fan_profiles.each do |profile| %>
    <li>
      <%= link_to profile.user.name, profile.user %>
    </li>
  <% end %>
</ul>
