<h1>
  <%= @band.name %> 
</h1>
<%= image_tag @band.image%>
<br />
<br />
<em>Fans:</em>
<br />
<br />
<ul>
  <% @band.fan_profiles.each do |profile| %>
    <li>
      <%= link_to profile.user.name, profile.user %>
    </li>
  <% end %>
</ul>
