<h1>
  <%= @band.name %> 
</h1>
<br>
<%= @band.image %>
<%= image_tag @band.image%>
fans: <br>
<tr>
  <% @band.fan_profiles.each do |profile| %>
    <li>
      <%= link_to profile.user.name, profile.user %>
    </li>
  <% end %>
</tr>
