$defaultColor: #0D1C1A;
$replacementColor: #120F07;
$logoWidth: 44px;
$logoHeight: 69px;
$backgroundColor: white;
$textColor: #F0DD97;
$navigationColor: white; 
$defaultFont: 'Oranienbaum';
$titleFont: 'Anton';