@import "variables";
@import "settings";
@import "foundation";
//@import "animate";
@import "ribbon";
@import "general_foundicons";

/*Fonts*/
@each $webfont in 'Raleway', 'Lily Script One' {
	@import url("http://fonts.googleapis.com/css?family=#{$webfont}");
}

/* Functions */
@function getColumnsWidth($numberOfColumns) {
	@return $rowWidth/$totalColumns*$numberOfColumns;
}

/* Mixins */
@mixin borderRadius($radius: 5px, $color: white, $thickness: 1px) {
	border: $thickness solid $color;
	border-radius: $radius;
}

@mixin transparentBackground($backgroundColor: #336666, $opacity: 0.7) {
	background-color: rgba($backgroundColor, $opacity);
}

/* Styling */
body {
	background-color: $backgroundColor;
	//background-image: image-url('noisy-texture.png');
	color: $textColor;
	font-family: $defaultFont, sans-serif;
	font-size: 100%;
}

h1,h2,h3 {
	font-family: $defaultFont, sans-serif;
}

ul {
	list-style-type: none;
}

.input { width: 70%; }

.sidebar {
	margin-left: 1px;
	width: 35px;
	position: fixed;
	top: 50%;
	margin-top: -50px; 
	opacity: 0.9;

	img:hover {
		-webkit-transition: all .25s linear;
		-moz-transition: all .25s linear;
		-ms-transition: all .25s linear;
		-o-transition: all .25s linear;
		transition: all .25s linear;
		opacity: 0.5;
	}
}

.invitesButton {
	margin-top: 7px;
	float: right;
	margin-left: 15px;
	margin-right: 15px;
}

.box {
	color: black;
	padding-bottom: 20px;
	//background-color: rgba($menuColor, .4);
	//@include borderRadius(5px, $backgroundColor);

	h1, h2, h3, p {
		color: inherit;
		padding-left: 10px;
	}

	a {
		color: inherit;

		&:hover {
			color: darken($backgroundColor, 50%);
		}
	}

	form {

		legend {
			background-color: $backgroundColor;
		}

		label {
			color: inherit;
		}
	}

	.button {
		border-radius: 5px;
		background-color: $replacementColor;
		color: $textColor;
		text-shadow: -1px 1px black, 1px 1px #333;
	}
}

.smallBox {
	@extend .box;
	color: $textColor;
	@include borderRadius(5px, lighten($defaultColor, 5%));
	background-color: lighten($defaultColor, 10%);
	padding: 10px;

	margin-bottom: 10px;
}

.row {
	padding-bottom: 20px;
}

footer {
	background-color: $footerColor;
	text-align: center;
	color: white;

	p {
		padding-left: 100px;
		padding-right: 100px;
		padding-top: 10px;
	}
}

.leftAlign {
	text-align: left;
}

.has-tip {
	color: white;
	font-weight: normal;

	&:hover {
		color: darken(white, 30%);
	}
}

.margin-bottom {
	margin-bottom: 10px;
}

#featured {
	@include borderRadius(5px, lighten($defaultColor, 10%), 2px);
	color: $textColor;
}

.recommendedEvent {
	padding: 10px 0px 0px 30px;
	width: 600px;
	height: 300px;
	background-color: lighten($defaultColor, 10%);

	img {
		margin-left: 20px;
		border: 1px solid lighten($defaultColor, 20%);
	}
}

.listeners {
	position: absolute;
	display: inline;
	padding-left: 15px;
	top: 100px;

	.button {
		margin-top: 10px;
	}
}

.top-bar {
	border-left: 1px dotted gray;
	border-right: 1px dotted gray;

	.active {
		box-shadow: inset -2px -2px #888;
	}
}

#avatar {
	@extend .hide-for-small;
	.animal {
		position: absolute;
		top: 76px;
		right: 70px;
	}

	#branch {
		background-image: image-url('branch.png');
		width: 400px;
		height: 127px;
		position: absolute;
		top: 160px;
		right: 0px;
	}
}

#gigbag {
	color: $menuColor;
	margin-top: -10px;
	margin-left: -20px;
	margin-bottom: 20px;
	font-family: 'Lily Script One', sans-serif;
	font-size: 4.5em;
}

