@import "variables";
@import "settings";
@import "foundation";
@import "animate";
@import "general_foundicons";

/*Fonts*/
@each $webfont in Oranienbaum, Anton {
	@import url("http://fonts.googleapis.com/css?family=#{$webfont}");
}

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";

/* Functions */
@function getColumnsWidth($numberOfColumns) {
	@return $rowWidth/$totalColumns*$numberOfColumns;
}

/* Mixins */
@mixin borderRadius($radius: 5px, $color: white) {
	border: 1px solid $color;
	border-radius: $radius;
}

@mixin transparentBackground($backgroundColor: #336666, $opacity: 0.7) {
	background-color: rgba($backgroundColor, $opacity);
}

/* Styling */
body {
	background-color: $backgroundColor;
	background-image: image-url('noisy-texture.png');
	color: $textColor;
	font-family: $defaultFont, sans-serif;
	font-size: 100%;
}

h1,h2,h3 {
	font-family: $defaultFont, sans-serif;
}

ul {
	list-style-type: none;
}

.sidebar {
	margin-left: 1px;
	width: 35px;
	position: fixed;
	top: 50%;
	margin-top: -50px; 
	opacity: 0.9;

	img:hover {
		-webkit-transition: all .25s linear;
		-moz-transition: all .25s linear;
		-ms-transition: all .25s linear;
		-o-transition: all .25s linear;
		transition: all .25s linear;
		opacity: 0.5;
	}
}

#navigation {
	background-color: $navigationColor;
	width: 100%;
	height: $logoHeight + 10;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	margin-bottom: 5px;

	.logo, .siteTitle, .loginButtons {
		position: absolute;
	}

	.siteTitle {
		top: 40px;
		left: 90px;
		vertical-align: center;
		font-family: $titleFont, sans-serif;
		font-size: 2.5em;
		color: $defaultColor;
		text-shadow: -1px -1px $textColor, 2px 2px #333;
	}

	.logo {
		top: 5px;
		width: $logoWidth;
		height: $logoHeight;
		background-image: image-url('logo.png');
	}

	.loginButtons {
		top: 45px;
		right: 0px;
	}

	p {
		width: 550px;
		padding-left: 200px;
		padding-top: 50px;
		font-style: italic;
		font-size: 14pt;
	}

	.tabs {
		position: relative;
		top: 70px;
		left: $logoWidth + 140;
	}
}

.box {
	color: $textColor;
	padding-bottom: 20px;
	background-color: $defaultColor;
	
	@include borderRadius(5px, $backgroundColor);

	h1, h2, h3, p {
		color: inherit;
		padding-left: 10px;
	}

	a {
		color: inherit;

		&:hover {
			color: darken($backgroundColor, 50%);
		}
	}

	form {

		legend {
			background-color: $backgroundColor;
		}

		label {
			color: inherit;
		}
	}

	.button {
		border-radius: 5px;
		background-color: $replacementColor;
	}
}

.smallBox {
	@extend .box;
	color: $textColor;
	@include borderRadius(5px, lighten($defaultColor, 5%));
	background-color: lighten($defaultColor, 10%);
	padding: 10px;

	margin-bottom: 10px;
}

.row {
	padding-bottom: 20px;
}

footer {
	text-align: center;
}

.has-tip {
	color: white;
	font-weight: normal;

	&:hover {
		color: darken(white, 30%);
	}
}

.info {
	font-size: 1.2em;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}

.margin-bottom {
	margin-bottom: 10px;
}