<h3><%= t 'fan_profiles' %></h3>
<ul class="fan_profiles">
  <% @fan_profiles.each do |fan_profile| %>
    <li>
      <%= link_to user.description, fan_profile %> <%= t('signed_up') %> <%= fan_profile.created_at.to_date %>
    </li>
  <% end %>
</ul>