<h2>Create your fan profile</h2>
<%= form_for @fan_profile, :url => { :action => "create" }, :html => {:class => "form"} do |f| %>
<div class="field">
  <%= f.label :lastfm_username %>
  <%= f.text_field :lastfm_username %>
</div>
<%= f.submit "Create Profile" %>
<% end %>
