<div class="row">
<% if flash[:error] %>
  <%= content_tag :div, :id => "flash_name", :class => "four columns centered alert-box alert-box error" do %>
    <%= flash[:error] %>
    <a class="close">x</a>
  <% end %>
<% end %>

<% if flash[:notice] %>
  <%= content_tag :div, :id => "flash_name", :class => "four columns centered alert-box alert-box success" do %>
    <%= flash[:notice] %>
    <a class="close">x</a>
  <% end %>
<% end %>
</div>