<div class="row">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="four columns centered alert-box success">
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
</div>