<div class="sidebar hide-for-small"> 
  <a href="#"><img src="images/rss.png" title="RSS feed" alt="RSS feed"></a>
  <a href="http://www.last.fm"><img src="images/lastfm.png" title="last.fm" alt="last.fm"></a>
  <a href="http://www.myspace.com"><img src="images/myspace.png" title="MySpace" alt="MySpace"></a>
</div>